/* ------- ANIMATION CLASSES -------  */
.fade-in__half-sec {
  animation: fadeIn .5s ease-in;
}

.fade-in__1 {
  animation: fadeIn 1s ease-in;
}

.fade-in__1--half-sec {
  animation: fadeIn 1.5s ease-in;
}

.fade-in__2 {
  animation: fadeIn 2s ease-in;
}

.fade-in__3 {
  animation: fadeIn 3s ease-in;
}

.fade-in__4 {
  animation: fadeIn 4s ease-in;
}

.fade-in__5 {
  animation: fadeIn 5s ease-in;
}

/* ------- KEYFRAMES -------  */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}