button {
  width: max-content;
  padding: .5rem;
  background-color: rgb(15, 98, 254);
  border: 2px solid rgb(15, 98, 254);
  color: white;
  font-size: 1rem;
}

button:hover {
  background-color: #0050e6;
  cursor: pointer;
}

button.icon {
  background-color: transparent;
  border: none;
  transition: transform .3s;
}

button.icon:hover {
  transform: scale(1.3);
}
