.icon__wrap {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;


}


.icon__wrap > *{
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}