
nav {
  display: flex;
  align-items: flex-end;
}

nav ul {
  display: flex;
  gap: 2rem;
  margin: 0;
  margin-right: 1rem;
}

nav li {
  list-style-type: none;
}  

nav a {
  color: #fff !important;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header details {
  display: none;
}

.nav-toggle {

}