

.image {
  height: auto;
  max-width: 550px;
}

.arrow-right {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../svg/arrow__right--blue.svg');
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
}

.banner {
  height: 30vh;
  width: 100%;
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frost {
  background-color: hsla(0, 0%, 0%, .6);
  padding: 1.5rem 2rem;
}

.heading {
  color: #fff;
  font-weight: 400;
}

.about-letter {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.portrait {
  display: inline-block;
  width: 100px;
}


.contact-img {
  max-width: 300px;
}

.corp-row {
  width: max-content;
}